div.sheetHandler ul.allDetHeader li.li-right-arrow{
    display: none;
}

div.sheetHandler ul.allDetHeader li.li-right-arrow a i.allDetheader-right-arrow{
    font-size: 1.2em;
    margin-right: 0.5em;
}

div.sheetHandler ul.allDetHeader li.li-left-arrow a i.allDetheader-left-arrow{
	font-size: 1.2em;
    margin-left: 0.5em; 
}

div.sheetHandler div.row div.blocker{
	display: none;
	background-color: whitesmoke;
    border-bottom: solid 1px rgb(183, 183, 183);
    border-right:solid 1px rgb(183, 183, 183);
    border-left:solid 1px rgb(183, 183, 183);
    border-bottom-left-radius: 5px;
    /*border-bottom-right-radius: 5px;*/
}

div.sheetHandler div.row div.blocker i.fa-exclamation-triangle{
    position:relative;
    /*text-align: center;*/

}
div.viewer {
    display: block;
    text-align: center;
    margin-top: -5px;
}

div.viewer div.blocker i.fa-exclamation-triangle{
    display: inline;
    top: 50%;
}

div.sheetHandler div.nglView div.downloadPdb{
	background-color: pink;
}

table div.sheetHandler ul.allDetHeader li{
    font-size: 1.2em;
    cursor: pointer;
}
table div.sheetHandler ul.allDetHeader li span {
    color: grey;
    font-size: 0.75em;
}

table div.shortentooltip {
    position: fixed;
    /*display: block;*/
    visibility: hidden;
    /*display: inline-block;*/
    background-color: lightgrey;
    border: 3px solid rgb(183, 183, 183);
}

table div.sheetHandler ul.allDetHeader {
    width: 601px;
    visibility: hidden;
}

div.viewer {
   /* min-width:450px;
    max-width:450px;*/
    background-color:white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-right: solid 1px rgb(183, 183, 183);
    border-left:  solid 1px rgb(183, 183, 183);
    border-bottom: solid 1px rgb(183, 183, 183);
    border-bottom-left-radius: 2px;
}

div.nglView{
/*    max-width:440px;*/
}

div.closer {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    border: solid 1px rgb(183, 183, 183);
    background-color:whitesmoke;/*#b2222245;*/
    color: rgb(183, 183, 183);
    font-family: "Helvetica Neue";
    font-weight:bold;
    padding-left:0.5em;
    padding-right:0.5em;
}

div.wrapper {
    background-color: whitesmoke;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}